.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is__hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is__hidden .modal {
    transform: translate(-50%, -50%) scale(0, 8);
}

.modal {
    position: absolute;
    min-width: 530px;
    min-height: 580px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: $bg-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__button {
        position: fixed;
        cursor: pointer;
        border: none;
        top: 8px;
        right: 8px;
        background-color: $bg-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:focus,
    &__button:hover {
        fill: $accent-color;
    }

    &__img {
        width: 11px;
        height: 11px;
    }

    &__form {
        margin: 40px 40px;
    }
}
.form__title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.15;
    margin-bottom: 12px;
}

.form__field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;

}

.form__icon {
    position: absolute;
    top: 55%;
    left: 12px;
    display: inline-block;
    width: 18px;
    height: 18px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
    display: block;
}

.form__input {
    border: none;
    margin-top: 4px;
    padding-left: 42px;
    height: 40px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
    border: none;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within .form__icon {
    fill: $accent-color;
}

.form__field:focus-within .form__input {
    outline: 1px solid rgba(33, 150, 243, 1);
}

.form__field:focus-within .form__comment {
    outline: 1px solid rgba(33, 150, 243, 1);
}

.form__comment {
    margin-top: 4px;
    padding: 12px 16px;
    height: 120px;
    resize: none;
}

.checkbox {
    appearance: none;
    position: absolute;

    &__label {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }
    
        &__icon {
            width: 16px;
            height: 15px;
            border: 2px solid #212121;
            border-radius: 2px;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &:checked+.checkbox__icon {
            border: none;
            background-color: $accent-color;
        }


        &:focus-within+.checkbox__icon {
            border: 2px solid $accent-color;
        }
    
        &__agree {
            margin-left: 8px;
            margin-right: 4px;
            cursor: pointer;
        }
        &-button__send {
            display: block;
            background-color: #188CE8;
            font-family: inherit;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
            border: none;
            line-height: 1.87;
            letter-spacing: $letter-spacing;
            margin: auto;
            padding: 10px 52px;
            border-radius: 4px;
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &-button__send:focus,
        &-button__send:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}


.form__checkbox a {
    text-decoration: underline;
    color: $accent-color;
}

